/*normalize of css*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #EFE6E4;
  color: #245852;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface', serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;

}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C0AAA8;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  display: block;
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}

.header__list li {
  list-style: none;
  margin-left: 20px;
}

.header__link {
  color: #245852;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
}

.header__list a:hover {
  /*написать ховер для ссылок*/
}

.header__list a.active {
  /*написать active для ссылок*/
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #245852;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #245852;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0)
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dacfce;
    padding-top: 70px;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin-bottom: 20px;
  }

  body.lock {
    overflow: hidden;
  }
}

/* main*/

.content {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: 75px;
  }
}

/*introdactions*/
.introdaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.introdaction__photo {
  flex: 0 1 75vw;
}

.introdaction__photo img {
  border-radius: 5%;
}

.introdaction__content {
  text-align: center;
  align-self: center;
  margin: -20px 80px 0 20px;
}

.introdaction__text {
  padding: 20px 0;
  margin-bottom: 20px;
}

.introdaction__button {
  align-items: center;
  padding: 15px 40px;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width:768px) {
  .introdaction {
    flex-direction: column;
  }

  .introdaction__photo {
    max-width: 75vw;
    margin: 0 auto;
    flex: none;
  }

  .introdaction__content {
    margin: 10px auto;
  }

  .introdaction__text {
    padding: 15px 0;
  }

  .introdaction__button {
    padding: 10px 30px;
  }
}

/* about */
.about {
  margin: 30px 0;
}

.about__title {
  text-align: center;
  padding-bottom: 20px;
}

.about__content-title {
  text-indent: 10%;
  padding-bottom: 10px;
  position: relative;
}

.about__content-title:after {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #C0AAA8;
}

.about__content-title:last-of-type {
  margin-bottom: 0;
}

.about__content-text {
  text-indent: 5%;
  margin-bottom: 20px;
}

.about__content-block {
  display: flex;
}

.about__content-block>.about__content-text {
  padding: 0 60px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__content-photo {
  max-width: 25vw;
  height: 100%;
  border-radius: 5%;
  opacity: 0.8;
  filter: grayscale(0.3);
}

@media screen and (max-width:768px) {
  .about__content-block {
    flex-direction: column;
  }

  .about__content-photo {
    max-width: 50vw;
    align-self: center;
  }

  .about__content-block>.about__content-text {
    padding: 0;
  }
}

/* skills */
.skills {
  margin: 30px 0;
}

.skills__title {
  text-align: center;
  padding-bottom: 20px;
}

.skill__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center
}

.skill__item {
  text-transform: uppercase;
  font-family: 'Abril Fatface', serif;
  padding: 10px 0;
  -webkit-box-shadow: 11px -9px 13px -1px rgba(192, 170, 168, 0.83);
  -moz-box-shadow: 11px -9px 13px -1px rgba(192, 170, 168, 0.83);
  box-shadow: 11px -9px 13px -1px rgba(192, 170, 168, 0.83);
}

/* projects */
.projects {
  margin: 30px 0;
}

.projects__courses {
  display: flex;
  justify-content: space-between;
}

.project__courses--card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #C0AAA8;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 3%;
}

.card__header {
  display: flex;
  max-height: 128px;
  justify-content: center;
  padding: 27px;
  background: none;
}

.card__body {
  flex: 1 1 auto;
  padding: 16px 20px 0;
}

.card__body a{
  color: #245852;
}

.card__body-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -30px;
  background-color: #C0AAA8;
}

.card__body-info span {
  display: inherit;
  background-color: inherit;
  z-index: 1;
  padding: 5px 20px;
  border: 1px solid rgba(0, 0, 0, .125);
  color: #282a35;
  border-radius: 800px;
}

.card__body-info:after {
  content: '';
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, .125);
}

.card__body-info .star {
  width: 17px;
  height: 17px;
  margin: 3px;
}

.card__body-info b {
  margin-left: 2px;
  font-weight: bold;
}

.card__body-title {
  margin: 10px 0;
}
.card__body-title i{
  font-size: 14px;
}

.card__body-lvl {
  margin-bottom: 10px;
}

.card__footer {
  margin: 0 15px 20px;
}


.progress__percent {
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

}

.progress__bar {
  border-radius: 20px;
  height: 8px;
  border: 1px solid #282a35;
  background-color: #ffffff;
}

.progress__bar-html {
  background-color: #282a35;
  width: 101%;
  height: 8px;
  margin: -1px;
  border-radius: inherit;
}

.progress__bar-css {
  background-color: #282a35;
  width: 101%;
  height: 8px;
  margin: -1px;
  border-radius: inherit;
}

.progress__bar-js {
  background-color: #282a35;
  width: 69%;
  height: 8px;
  margin: -1px;
  border-radius: inherit;
}

.project__example-site {
  margin: 30px 0;
}
.project__example-site h2{
  text-align: center;
  padding-bottom: 10px;
}

.project__example-code {
  overflow: auto;
  word-wrap: normal;
  border-radius: 50px;
  background-color: #C0AAA8;
}

@media screen and (max-width: 993px) {
  .projects__courses {
    flex-direction: column;
    align-items: center;
  }

  .project__courses--card {
    margin: 10px 0;
  }
}

/* footer */
.footer {
  margin: auto 0 20px 0;
}

.footer__copyright {
  margin: 5px 0;
  text-align: center;
}

.footer__list {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
}

.footer .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .tooltip {
  position: absolute;
  top: 0;
  font-size: 0.9em;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer .icon:hover span,
.footer .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer .linkedin:hover,
.footer .linkedin:hover .tooltip,
.footer .linkedin:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.footer .vkontakte:hover,
.footer .vkontakte:hover .tooltip,
.footer .vkontakte:hover .tooltip::before {
  background-color: #118abe;
  color: #ffffff;
}

.footer .instagram:hover,
.footer .instagram:hover .tooltip,
.footer .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.footer .github:hover,
.footer .github:hover .tooltip,
.footer .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.footer .youtube:hover,
.footer .youtube:hover .tooltip,
.footer .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.rsschool {
  background-image: url(img/rs_school_js.svg);
}

.footer .rsschool:hover,
.footer .rsschool:hover .tooltip,
.footer .rsschool:hover .tooltip::before {
  background-color: #e5cf29;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .footer .icon {
    padding: 10px;
    margin: 5px;
    width: 30px;
    height: 30px;
    font-size: 0.75em;
  }
}